<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="../styles/css.css" rel="stylesheet"/>
<title>Proyecto 1 Web 2</title>
</head>
<body>

<form action="Registro" method="post">
	<div id="caja">
	<div align="center"><h1>Proyecto 1 Web 2</h1>
	<h2>Por Mario González C.I:27.969.414</h2><br></div>
	<div id="div">
	<ul class="left">
		<li>Nombre:</li>
		<li>Apellido:</li>
		<li>Edad:</li>
		<li>Nombre de Usuario:</li>
		<li>Contraseña:</li>
		<li>Correo:</li>
	</ul>

	<ul class="right">
		<li><input type="text" name="nombre"></li>
		<li><input type="text" name="apellido"></li>
		<li><input type="number" name="edad" min="18"></li>
		<li><input type="text" name="username"></li>
		<li><input type="text" name="password"></li>
		<li><input type="text" name="correo"></li>
	</ul>
	</div>
	<div align="center"><input type="submit" value="ENVIAR" ></div>
	
	</div>
	

</form>

</body>
</html>